
temp/
test/ 
docs/
.directory
.git/
*.log
.DS_Store

frontend/dist/
frontend/node_modules
frontend/bun.lock
frontend/package.json
frontend/package-lock.json
frontend/README.md

backend/worker/pkg/
backend/worker/build/
backend/wasm/target/
backend/worker/target/
backend/worker/wrangler.toml
backend/worker/.wrangler/
