
name = "daylock"
main = "build/index.js"
compatibility_date = "2026-02-22"

[build]
command = "cargo install -q worker-build && worker-build --release"

[[kv_namespaces]]
binding = "RATE_LIMIT"
id = "REPLACE_WITH_RATE_LIMIT_KV_ID"

[[kv_namespaces]]
binding = "PASTE_KV"
id = "REPLACE_WITH_PASTE_KV_ID"

[assets]
directory = "../../frontend/dist"
binding = "ASSETS"