
name = "daylock"
main = "build/index.js"
compatibility_date = "2026-08-13"

[build]
command = "cargo install -q worker-build && worker-build --release"

[[kv_namespaces]]
binding = "DAYLOCK_RATE_LIMIT_KV"
id = "REPLACE_WITH_DAYLOCK_RATE_LIMIT_KV_ID"

[[kv_namespaces]]
binding = "DAYLOCK_PASTE_KV"
id = "REPLACE_WITH_DAYLOCK_PASTE_KV_ID"

[assets]
directory = "../../frontend/dist"
binding = "ASSETS"