name = "daylock"
main = "build/index.js"
compatibility_date = "2026-08-06"

[build]
command = "cargo install -q worker-build --force && worker-build --release"

[[kv_namespaces]]
binding = "DAYLOCK_RATE_LIMIT_KV"
id = "REPLACE_WITH_DAYLOCK_RATE_LIMIT_KV_ID"

[[kv_namespaces]]
binding = "DAYLOCK_PASTE_KV"
id = "REPLACE_WITH_DAYLOCK_PASTE_KV_ID"

[assets]
directory = "../../frontend/dist"
binding = "ASSETS"

# If you want to use your own custom domain instead of the default Cloudflare domain, 
# uncomment the code below and replace the "example.com" with your own domain.

#[[routes]]
#pattern = "example.com/*"
#custom_domain = true